.information-list {
  .mixin-reset-list();
  padding: 60px 15px 30px 15px;
}

.information-list__item {
  .mixin-flex-column();
  .mixin-reset-margin();
  padding-top: 27px;
}

.information-list__wrapper {
  display: none;
}

.information-list__title {
  .mixin-set-family-font(18px, 24px, 700);
  color: @black-color;
  margin: 0;
}

.information-list__description {
  .mixin-set-family-font(14px, 24px, 400);
  color: @dark-blue-color;
  margin: 0;
  text-align: center;
  padding-top: 15px;
}

@media (min-width: @tablet-width) {
  .information-list__item {
    align-items: start;
  }

  .information-list__description {
    text-align: left;
  }
}


@media (min-width: @desktop-width) {
  .information-list {
    display: flex;
    flex-direction: row;
  }

  .information-list__item {
    align-items: center;
  }

  .information-list__wrapper {
    position: relative;
    overflow-y: hidden;
    .mixin-flex-column();
    min-width: 300px;
  }

  .information-list__example {
    position: relative;
    z-index: 1;
    margin-bottom: -80px;

    &::after {
      content: "";
      z-index: 2;
      position: absolute;
      bottom: 80px;
      left: 50%;
      width: 300px;
      height: 17px;
      transform: translateX(-50%) translateY(50%);
      border-radius: 50%;
      background: @grey-color linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
    }
  }

  .information-list__description {
    text-align: center;
  }
}
