.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 18px;
}

.main-nav__logo-link {
  z-index: 12;
  background-color: transparent;
  color: @white-color;
  .mixin-behavior-logo();
  padding-top: 17px;
}

.main-nav__icon-small {
  display: inline;
}

.main-nav__icon-middle,
.main-nav__icon-big {
  display: none;
}

.main-nav__toggle {
  z-index: 12;
  background-color: transparent;
  color: @white-color;
  .mixin-reset-margin();
  border: none;
  .mixin-behavior-menu();
  padding-top: 15px;

  &--no-js {
    display: none;
  }
}

.main-nav__icon-burger {
  display: none;
}

.main-nav__icon-cross {
  display: inline;
}

.main-nav__toggle--closed {
  & > .main-nav__icon-burger {
    display: inline;
  }

  & > .main-nav__icon-cross {
    display: none;
  }
}

.main-nav__list {
  display: block;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: @dark-blue-color;
  .mixin-flex-column(normal);
  .mixin-reset-list();
  padding-top: @menu-height + 5px;
}

.main-nav__toggle--closed + .main-nav__list {
  display: none;
}

.main-nav__toggle--no-js + .main-nav__list {
  display: block;
}

.main-nav__item {
  background-color: @dark-blue-color;
  box-shadow: 0 -1px 0 @black-color,
    0 1px 0 @black-color,
    0 1px 0 fade(@white-color, 15%) inset;
  .mixin-reset-margin();
  text-align: center;
}

.main-nav__link {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  .mixin-set-family-font(18px, 62px, 700);
  color: @white-color;
  .mixin-behavior-menu();
}

@media (min-width: @tablet-width) {
  .main-nav {
    padding-top: 27px;
    padding-bottom: 39px;
  }

  .main-nav__logo-link {
    padding-top: 0;
  }

  .main-nav__icon-small {
    display: none;
  }

  .main-nav__icon-middle {
    display: inline;
  }

  .main-nav__icon-big {
    display: none;
  }

  .main-nav__list {
    padding-top: @menu-height-tablet + 1px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    justify-content: normal;
    padding-top: 27px;
    padding-bottom: 30px;
  }

  .main-nav__logo-link {
    padding-bottom: 9px;
  }

  .main-nav__icon-small,
  .main-nav__icon-middle {
    display: none;
  }

  .main-nav__icon-big {
    display: inline;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__toggle--closed + .main-nav__list {
    display: flex;
  }

  .main-nav__list {
    display: flex;
    position: static;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    .mixin-reset-margin();
    padding-left: 173px;
  }

  .main-nav__item {
    background: transparent;
    box-shadow: none;
    height: auto;
    .mixin-flex-column(normal, center);
  }

  .main-nav__link {
    position: relative;
    text-transform: none;
    .mixin-set-family-font(18px, 18px, 400);
    padding: 13px 0;

    &--active::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: @white-color;
    }
  }
}
