.page-footer {
  width: 100%;
  margin-top: auto;
  background-color: @white-color;
}

.page-footer__wrapper {
  .mixin-flex-column();
}

.page-footer__logo {
  padding: 40px 0;
}

.page-footer__logo-link {
  color: @dark-blue-color;
  .mixin-behavior-logo(@pink-color, @dark-blue-color, 30%);
}

.page-footer__icon {
  width: 145px;
  height: 40px;
}

.page-footer__icon-middle-pink {
  fill: currentColor;
}

.page-footer__icon-middle-glasses {
  fill: @pink-color;
}

.page-footer__icon-big-pink,
.page-footer__icon-big-spot,
.page-footer__icon-big-glasses,
.page-footer__icon-big-stars {
  fill: transparent;
}

.page-footer__social-list {
  // social.less
}

.page-footer__HTMLAcademy-link {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 12px;
  .mixin-set-family-font(14px, 34px, 400);
  .mixin-svg-color(@pink-color);
  color: @dark-blue-color;
  padding: 40px 0;
  .mixin-behavior(@dark-blue-color);
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__HTMLAcademy-link {
    .mixin-set-family-font(18px, 34px, 400);
  }

  .page-footer__icon {
    width: 147px;
    height: 40px;
  }

  .page-footer__icon-middle-pink,
  .page-footer__icon-middle-glasses {
    fill: transparent;
  }

  .page-footer__icon-big-spot,
  .page-footer__icon-big-glasses {
    fill: @pink-color;
  }

  .page-footer__icon-big-pink,
  .page-footer__icon-big-stars {
    fill: currentColor;
  }
}
