.page-footer {
  width: 100%;
  margin-top: auto;
  background-color: @white-color;
}

.page-footer__wrapper {
  .mixin-flex-column();
}

.page-footer__logos {
  padding: 40px 0;
  .mixin-svg-color(@dark-blue-color);

  &:hover:not(&--active) {
    .mixin-svg-color(@pink-color);
  }

  &:active:not(&--active) {
    opacity: 30%;
  }
}

.page-footer__social-list {
  // social.less
}

.page-footer__HTMLAcademy-link {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 12px;
  .mixin-set-family-font(14px, 34px, 400);
  .mixin-svg-color(@pink-color);
  color: @dark-blue-color;
  padding: 40px 0;
  .mixin-behavior(@dark-blue-color);
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
