.page-footer {
  width: 100%;
  margin-top: auto;
  background-color: @white-color;
}

.page-footer__wrapper {
  .mixin-flex-column();
}

.page-footer__logos {
  padding: 40px 0;
}

.page-footer__glasses-link {
  text-decoration: none;
}

.page-footer__logo {
  text-decoration: none;
}

.page-footer__social-list {
  //
}

.page-footer__HTMLAcademy-link {
  .mixin-flex-column();
  text-decoration: none;
  .mixin-set-family-font(14px, 34px, 400);
  color: @dark-blue-color;
  padding: 40px 0;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
