.advantages {
  display: flex;
  flex-direction: column;
  background-color: @grey-color;
  padding: 46px 0 0 0;
}

.advantages__description {
  background-color: @white-color;
  .mixin-set-family-font(24px, 28px, 300);
  text-shadow: 0 4px 4px fade(@black-color, 25%);
  color: @dark-blue-color;
  margin: 0;
  padding-bottom: 27px;
  text-align: center;
}

.advantages__wraper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .advantages__wraper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .advantages__description {
    .mixin-set-family-font(40px, 55px, 300);
  }
}


@media (min-width: @desktop-width) {
  .advantages__wraper {
    display: block;
  }

  .advantages__example {
    display: none;
  }

  .advantages__description {
    .mixin-set-family-font(50px, 68px, 300);
  }
}
