.contacts {
  .mixin-flex-column();
  background: @white-color;
  padding: 40px 15px 15px 15px;
}

.contacts__description {
  .mixin-set-family-font(24px, 29px, 300);
  color: @dark-blue-color;
  margin: 0;
  text-align: center;
}

.contacts__list {
  .mixin-reset-list();
}

.contacts__item {
  .mixin-flex-column();
  .mixin-reset-margin();
  padding-top: 25px;
}

.contacts__name {
  margin: 0;
  .mixin-set-family-font(18px, 25px, 700);
  color: @dark-blue-color;
}

.contacts__link {
  color: @pink-color;
  .mixin-set-family-font(24px, 33px, 300);
}

.contacts__map {
  .mixin-flex-column();
  width: 100%;
  height: 600px;
  clip-path: polygon(50% 16.4%, 100% 0, 100% 100%, 0 100%, 0 0);
}

[class*="copyrights-pane"] {  //display: none !important;
  display: none;
}

@media (min-width: @tablet-width) {
  .contacts__description {
    .mixin-set-family-font(40px, 55px, 300);
  }

  .contacts__list {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 1fr;
  }

  .contacts__item:last-child {
    grid-column: 1 / 3;
  }
}

@media (min-width: @desktop-width) {
  .contacts__description {
    .mixin-set-family-font(50px, 68px, 300);
  }

  .contacts__list {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contacts__item:last-child {
    grid-column: 3 / 4;
  }
}
