.facts {
  display: none;
  background-color: @white-color;
  width: 100%;
}

.facts__wrapper {
  background: @white-color  url("../img/timer-small.png") no-repeat  left 10% center;
  .mixin-flex-column(flex-end);
}

.facts__wrapper-inner {
  .mixin-flex-column(flex-start);
  justify-content: center;
  min-height: 330px;
  width: 50%;
}

.facts__title {
  .mixin-set-family-font(30px, 36px, 700);
  color: @black-color;
  margin: 0;
}

.facts__description {
  .mixin-set-family-font(14px, 24px, 400);
  color: @dark-blue-color;
  margin: 0;
}

.facts__link {
  .mixin-set-family-font(14px, 24px, 400);
  color: @pink-color;
  text-decoration: underline;
  .mixin-behavior(@pink-color);
}

@media (min-width: @tablet-width) {
  .facts {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .facts {
    background-color: @grey-color;
  }

  .facts__wrapper {
    background: @grey-color  url("../img/timer-big.png") no-repeat  left 5% center;
  }

  .facts__wrapper-inner {
    min-height: 429px;
    width: 60%;
  }

  .facts__description {
    .mixin-set-family-font(18px, 30px, 400);
  }
}
