.get-application {
  position: relative;
  z-index: 2;
  width: 100%;
}

.get-application__example {
  background: url("../img/intro/example-small.png") no-repeat center;
  display: block;
  min-height: 286px;
  width: 100%;
}

.get-application__wrapper {
  .mixin-flex-column();
}

.get-application__load {
  .mixin-flex-column();
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 271px;
}

.get-application__link {
  .mixin-set-family-font(18px, 48px, 700);
  color: @white-color;
  border: 3px solid @white-color;
  border-radius: 29px;
  padding: 0 28px;

  &:hover {
    background-color: @white-color;
    color: @pink-color;
  }

  &:focus {
    //
  }

  &:active {
    color: fade(@pink-color, 30%);
  }
}

.get-application__list {
  display: flex;
  flex-direction: row;
  .mixin-reset-list();
}

.get-application__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  .mixin-reset-margin();
  padding: 16px;
}

.get-application__note {
  .mixin-set-family-font(14px, 24px, 300);
  color: @white-color;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .get-application__example {
    display: none;
  }

  .get-application__wrapper {
    align-items: flex-start;
  }
}
