.get-application {
  position: relative;
  width: 100%;
  .mixin-flex-column();

  &--half-size {
    align-items: flex-start;
  }
}

.get-application__example {
  display: block;
  padding: 0;
}

.get-application__load {
  .mixin-flex-column();
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 271px;
}

.get-application__link {
  text-decoration: none;
  .mixin-set-family-font(18px, 48px, 700);
  color: @white-color;
  border: 3px solid @white-color;
  border-radius: 29px;
  padding: 0 28px;
}

.get-application__list {
  display: flex;
  flex-direction: row;
  .mixin-reset-list();
}

.get-application__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  .mixin-reset-margin();
  padding: 16px;
}

.get-application__note {
  .mixin-set-family-font(14px, 24px, 300);
  color: @white-color;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .get-application__example {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
