.tariffs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @grey-color;
  padding: 80px 0 0 0;
}

.tariffs__table {
  //
}


@media (min-width: @tablet-width) {
  .tariffs {
    padding-bottom: 70px;
  }

  .tariffs__dots {
    display: none;
  }
}
