.mixin-set-family-font(
    @font-size:   14px;
    @line-hieght: 18px;
    @font-weight: 300
) {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: @font-size;
  line-height: @line-hieght;
  font-weight: @font-weight;
}

.mixin-flex-column(
  @align: center;
  @content: normal;
) {
  display: flex;
  flex-direction: column;
  align-items: @align;
  justify-content: @content;
}

.mixin-reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mixin-reset-margin() {
  margin: 0;
  padding: 0;
}

.mixin-background-incline(@color, @deg:-4.7deg, @perc:83%) {
  background:
    linear-gradient(@deg, transparent @perc, @white-color @perc),
    linear-gradient(to bottom, @color, @color);
}
