// COLORS
@white-color: #ffffff;
@warm-white-color: #e5e5e5;
@pink-color: #d22856;
@elf-color: #2aab6d;
@grey-color: #f2f2f2;
@grey-blue-color: #1d2631;
@dark-blue-color: #283645;
@black-color: #000000;
// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
// Height
@menu-height: 66px;
@menu-height-tablet: 110px;
