.form {
  display: flex;
  flex-direction: column;
  .mixin-set-family-font(14px, 18px, 400);
  color: @h2-desc-color;
}

.form__description {
  background-color: #ffffff;
  .mixin-set-family-font(14px, 30px, 400);
  text-align: center;
  margin: 0;
  padding: 50px 20px;

  & span {
    display: block;
  }
}

.form__fieldset {
  border: none;
  padding: 40px 20px;
  margin: 0;
  color: @h2-desc-color;

  &--full-name {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  &--application {
    background-color: #f2f2f2;
  }

  &--contacts {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  &--doings {
    background-color: #f2f2f2;
  }

  &--comment {
    background-color: #ffffff;
  }
}

.form__label {
  margin: 0;
  color: @pink-color;
}

.form__legend {
  background-color: inherit;
  color: @pink-color;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__item > .form__label {
  .mixin-set-family-font(18px, 30px, 400);
  color: @h2-desc-color;
}

.form__input {
  .mixin-set-family-font(18px, 30px, 400);
  color: @h2-desc-color;
}

.form__buttons {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 50px 20px 10px 20px;
}

.form__button-submit {
  background-color: @elf-color;
  .mixin-set-family-font(18px, 58px, 700);
  text-transform: uppercase;
  color: @text-color-base;
}

.form__footnote {
  .mixin-set-family-font(14px, 30px, 400);
  text-transform: uppercase;

  & span {
    color: @pink-color;
  }
}
