.intro {
  background: @grey-blue-color url("../img/intro/intro-default.jpg") no-repeat top center;
  width: 100%;
  padding: @menu-height+26px 0 0 0;
}

.intro__wrapper {
  .mixin-flex-column();

  &--half-size {
    align-items: flex-start;
  }
}

.intro__title {
  .mixin-set-family-font(24px, 28px, 300);
  color: @white-color;
  text-align: center;
  padding-top: 0;
  padding-bottom: 30px;

  &--half-size {
    max-width: 280px;
  }
}

@media (min-width: @tablet-width) {
  .intro {
    background: @grey-blue-color url("../img/intro/intro-medium.jpg") no-repeat top/cover;
  }

  .intro__title {
    .mixin-set-family-font(50px, 68px, 300);

    &--half-size {
      .mixin-set-family-font(40px, 48px, 300);
    }
  }
}


@media (min-width: @desktop-width) {
  .intro {
    background: @grey-blue-color url("../img/intro/intro-big.jpg") no-repeat top/cover;
  }

  .intro__title {
    .mixin-set-family-font(50px, 68px, 300);
  }
}
