.intro {
  position: relative;
  width: 100%;
  padding: @menu-height+24px 0 0 0;

  &::before {
    z-index: -2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: @grey-blue-color;
    background-image: url("../img/intro/intro-small.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-small@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.intro__wrapper {
  .mixin-flex-column();

  &--half-size {
    align-items: flex-start;
  }
}

.intro__title {
  .mixin-set-family-font(24px, 32px, 300);
  .mixin-reset-margin();
  color: @white-color;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 45px;

  &--half-size {
    max-width: 280px;
    padding-top: 0;
    padding-bottom: 30px;
  }
}

@media (min-width: @tablet-width) {
  .intro {
    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../img/intro/intro-medium.jpg");
      background-position: center;
      background-size: cover;
      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro/intro-medium@2x.jpg");
      }
    }

    &--with-example::after {
      z-index: -1;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      background-image: url("../img/intro/example-medium.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro/example-medium@2x.png");
        background-size: 660px auto;
      }
      min-height: 545px;
      width: 100%;
    }
  }

  .intro__title {
    .mixin-set-family-font(50px, 68px, 300);
    padding-top: 88px;
    padding-bottom: 58px;

    &--half-size {
      .mixin-set-family-font(40px, 48px, 300);
      padding-top: 122px;
      padding-bottom: 70px;
    }
  }
}


@media (min-width: @desktop-width) {
  .intro {
    &::before {
      background-image: url("../img/intro/intro-big.jpg");
      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro/intro-big@2x.jpg");
      }
    }

    &--with-example::after {
      background-image: url("../img/intro/example-big.png");
      @media (min-resolution: 2dppx) {
        background-image: url("../img/intro/example-big@2x.png");
        background-size: 1050px auto;
      }
      min-height: 645px;
    }
  }

  .intro__title {
    .mixin-set-family-font(50px, 68px, 300);
    padding-top: 80px;
    padding-bottom: 88px;
  }
}
