.photo {
  //

  &--panorama {
    position: relative;
    .mixin-flex-column();

    &::after {
      content: "ПАНОРАМА ДНЯ";
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(140px);
      width: 130px;
      min-height: 36px;
      background-color: @pink-color;
      color: @white-color;
      .mixin-set-family-font(12px, 36px, 700);
      text-align: center;
    }
  }
}

.photo__image {
  display: block;
  .mixin-reset-margin();
}

.photo__wrapper {
  overflow-x: hidden;
  //
}

.photo__details {
  display: grid;
  grid-template-rows: minmax(26px, max-content) minmax(54px, max-content) minmax(27px, max-content);
  background-color: @grey-color;
  padding: 17px;
}

.photo__author {
  .mixin-set-family-font(14px, 24px, 700);
  .mixin-reset-margin();
  color: @dark-blue-color;
}

.photo__timestamp {
  .mixin-set-family-font(12px, 24px, 300);
  .mixin-reset-margin();
  color: @dark-blue-color;
}

.photo__description {
  .mixin-set-family-font(14px, 24px, 400);
  .mixin-reset-margin();
  color: @dark-blue-color;
}

.photo__like {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  background-color: @grey-color;
  color: @pink-color;
  margin: 0;
}

.photo__count {
  .mixin-reset-margin();
  .mixin-set-family-font(12px, 24px, 400);
  padding-left: 17px;
}

.photo__button-like {
  .mixin-reset-margin();
  .mixin-svg-color(@pink-color);
  .mixin-behavior(@pink-color);
}

@media (min-width: @tablet-width) {
  .photo {
    &--panorama::after {
      top: 57px;
      right: 50%;
      transform: translateX(310px);
    }
  }

  .photo__details {
    &--panorama {
      display: grid;
      grid-template-rows: minmax(26px, max-content) min-content;
      grid-template-columns: 50% 50%;
    }
  }

  .photo__author {
    &--panorama {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  .photo__like {
    flex-direction: row;
    justify-content: space-between;

    &--panorama {
      justify-content: flex-end;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }

  .photo__description {
    &--panorama {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  }

  .photo__count {
    padding-left: 0;

    &--panorama {
      padding-left: 0;
      padding-right: 17px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo {
    &--panorama::after {
      top: 54px;
      right: 50%;
      transform: translateX(470px);
    }
  }
}
