.photo {
  //
}

.photo__image {
  &--selected {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
  }
}

.photo__details {
  //
}

.photo__author {
  .mixin-set-family-font(14px, 24px, 700);
  color: @dark-blue-color;
}

.photo__timestamp {
  .mixin-set-family-font(12px, 24px, 300);
  color: @dark-blue-color;
}

.photo__description {
  .mixin-set-family-font(14px, 24px, 400);
  color: @dark-blue-color;
}

.photo__like {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  color: @pink-color;
}

.photo__count {
  .mixin-set-family-font(12px, 24px, 400);
}

.photo__button-like {
  //
}
