.table {
  border-collapse: collapse;
}

.table__row {
  //
}

.table__row--header {
  //
}

.table__rate {
  background: @dark-blue-color;
  color: @white-color;
  border: 2px solid @dark-blue-color;
}
// ROWS
.table__product {
  background: @white-color;
  border: 2px solid @warm-white-color;
  &--hidden {
    display: none;
  }
}

.table__item {
  background: @white-color;
  border: 2px solid @warm-white-color;
  text-align: left;
}
// SPANS
.table__tariff {
  display: block;
  .mixin-set-family-font(16px, 30px, 700);
  text-transform: uppercase;
}

.table__price {
  display: block;
  .mixin-set-family-font(18px, 30px, 300);
}

.table__service {
  .mixin-set-family-font(14px, 30px, 400);
  color: @dark-blue-color;
  text-transform: uppercase;
}
