.toggles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .mixin-reset-list();
  padding: 25px 0 40px 0;
}


.toggles__item {
  .mixin-reset-margin();
}

.toggles__button {
  //
}
